:host {
    background-color: white;
    border: 2px solid rgb(143, 143, 143);
    /* Subtract border width so card size stays same (ty Dad) */
    margin: -2px;
    border-radius: 8px;
    height: 0;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 145%;
    max-width: calc(100vh / 3 / 1.45 - 15px);
    transition: 0.05s ease transform, 0.05s ease box-shadow, 0.05s ease filter;
    opacity: 1;
}

:host.small {
    width: 80px;
    height: 116px;
    padding-bottom: 0%;
}

:host img {
    object-fit: contain;
    user-select: none;
}

:host.card-answer {
    border: 4px solid rgb(143, 143, 143);
    /* Subtract border width so card size stays same (ty Dad) */
    margin: -4px;
}
