<h1>Game Over!</h1>
<h3>You came {{ getPosition() | placing }}!</h3>
<ul class="list custom-list">
    <li *ngFor="let score of gameStateService.gameOverScores; let index = index" [class.selected]="score.userId === gameStateService.userId" [attr.data-content]="index + 1 | placing">
        {{ score.userId === gameStateService.userId ? "You (" + clipName(score.userName) + ")" : clipName(score.userName)}}
        found
        {{ score.sets.length }}
        sets and made
        {{ score.mistakes | i18nPlural: mistakeMapping }}
    </li>
</ul>
<div>
    <button (click)="restartGame()">Restart</button>
    <button (click)="backToGameSelect()">Pick new Game</button>
</div>
