<div class='sidebar-and-board'>
    <app-sidebar></app-sidebar>
    <app-game-board></app-game-board>
</div>
<app-overlay [@onAppearDisappear] *ngIf="gameStateService.overlayLock || gameStateService.getGameState() !== 'playing-game'"></app-overlay>