<div [class.open]="showSidebar" class="sidebar">
    <div (click)="toggleSidebar()" class="open-close-button"><div></div></div>
    <h1>{{ gameStateService.gameName }}</h1>
    <app-scoreboard></app-scoreboard>
    <button (click)="leaveGame()">Leave game</button>
</div>
