:host {
    z-index: 50;
    background-color: #ddd;
    margin-left: -300px;
    height: 100%;
}

.sidebar {
    margin-left: 300px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    box-shadow: 2px 1px 4px #0005;
}

@media screen and (max-width: 800px) {
    :host {
        position: fixed;
    }
    .sidebar {
        margin-left: 0;
        transition: 0.2s ease margin-left;
    }
    .sidebar.open {
        margin-left: 300px;
    }
    .open-close-button {
        z-index: -1;
        position: absolute;
        margin-top: 10px;
        margin-left: 300px;
        background-color: #d8d8d8;
        height: 40px;
        width: 40px;
        border-radius: 0 8px 8px 0;
        cursor: pointer;
        box-shadow: 2px 1px 4px #0008;
    }
    .open-close-button:hover {
        background-color: #bbb;
    }
    .open-close-button div {
        content: '';
        border: solid #000;
        border-width: 4px 4px 0 0;
        position: absolute;
        margin-left: 10px;
        margin-top: 12px;
        height: 10px;
        width: 10px;
        cursor: pointer;
        transform: rotate(45deg);
    }
    .sidebar.open .open-close-button div {
        transform: rotate(-135deg);
        margin-left: 15px;
    }
}

h1 {
    font-family: lato, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 15px;
    margin: 0;
}

button {
    margin: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    font-weight: bold;
    justify-self: end;
    color: #333;
}

button:hover {
    background-color: #aaa;
    color: #111;
}