:host {
    flex: 1;
    overflow: auto;
}

.scoreboard {
    overflow: hidden;
    font-family: sans-serif;
}

.score-container {
    background-color: #ccc;
    margin-bottom: 5px;
}

.score-container.you {
    background-color: #c0c0c0;
}

.score-container:hover {
    filter: brightness(0.9);
}

p {
    margin: 0;
    padding: 5px;
    display: flex;
    cursor: help;
}

p b {
    flex: 1;
    display: inline-block;
    /* width: 120px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}

.you p b {
    font-weight: bold;
}

.got-it-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
}

.sets-container {
    display: flex;
    gap: 0px;
    padding: 0 8px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease max-height, 0.4s ease margin;
}

.score-container:hover p ~ .sets-container {
    max-height: 400px;
}

.set {
    flex: 1;
    max-width: 85px;
    min-width: 0;
    transition: 0.1s ease min-width;
}

.set:last-child {
    min-width: 80px;
}

.set:hover:not(:last-child) {
    min-width: 70px;
}

.set > * {
    margin: 0;
    box-shadow: 1px 1px 2px #0004;
}

.set > *:not(:first-child) {
    margin-top: -40px;
    margin-left: -2px;
}

.set > *:not(:first-child):not(:last-child) {
    margin-left: -4px;
}

.scoreboard-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    background-color: #5552;
    padding: 0 5px;
    height: 30px;
    user-select: none;
}

.scoreboard-button:not(:hover) {
    transition: 0.1s linear all;
}

.scoreboard-button:hover {
    color: #eee;
    background-color: #0007;
}