<div class="scoreboard">
    <div class="score-container" *ngFor="let score of gameStateService.scores" [class.you]="score.userId === gameStateService.userId" (mouseenter)="setAnimationState('hover')" (mouseleave)="setAnimationState('normal')">
        <p>
            <b>{{ score.userName }}:</b>
            {{ score.sets.length}} sets ({{ score.mistakes }} mistakes)
        </p>
        <div [@onSetAttempt]="currentAnimationState" class="got-it-container" *ngIf="score.sets.length > 0 && justScoredSet === score.sets[score.sets.length - 1].join('')">
            <app-card [definition]="score.sets[score.sets.length-1][0]" class="small"></app-card>
            <app-card [definition]="score.sets[score.sets.length-1][1]" class="small"></app-card>
            <app-card [definition]="score.sets[score.sets.length-1][2]" class="small"></app-card>
        </div>
        <div class="sets-container">
            <div class="set" *ngFor="let set of score.sets">
                <app-card [definition]="set[0]" class="small" [style.transform]="'rotate(' + random(set[0]) + 'deg)'"></app-card>
                <app-card [definition]="set[1]" class="small" [style.transform]="'rotate(' + random(set[1]) + 'deg)'"></app-card>
                <app-card [definition]="set[2]" class="small" [style.transform]="'rotate(' + random(set[2]) + 'deg)'"></app-card>
            </div>
        </div>
    </div>
</div>
