<h1>SET!</h1>
<h3>Your Name</h3>
<div class="form">
    <input type="text" placeholder="Name" [(ngModel)]="username" required>
</div>
<p *ngIf="showNameWarning" class="warning">Please enter a name!</p>
<h3 *ngIf="gameStateService.games.length > 0" >Join a Game</h3>
<ul *ngIf="gameStateService.games.length > 0" class="list">
    <li *ngFor="let game of gameStateService.games" (click)="startGame(game)">{{ game }}</li>
</ul>
<h3>Create a Game</h3>
<form class="form" [formGroup]="joinGameForm" (ngSubmit)="startGame(joinGameForm.value.gameName)" #startGameForm="ngForm">
    <input formControlName="gameName" type="text" required placeholder="Game name">
    <button type="submit" [disabled]="!startGameForm.form.valid"></button>
</form>