:host {
    flex: 1;
    overflow: hidden;
    align-self: center;
    padding: 10px;
}

.messages {
    overflow-y: auto;
    height: 8em;
    padding: 10px;
    font-size: 0.75em;
}

.grid {
    background-color: rgb(231, 231, 231);
    border: 3px solid rgb(231, 231, 231);
    border-radius: 10px;
    max-width: calc(100% - 25px);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    transition: 0.1s ease background-color, 0.1s ease border;
    /* align center */
    margin: 0 auto;
    overflow: hidden;
    /* This nonsense line is required to show the aftersegment in the right place */
    filter: brightness(1);
    width: max-content;
}

.grid.grid-lock {
    background-color: rgb(221, 221, 221);
    border: 3px solid rgb(134, 134, 134);
}

.grid.grid-lock::after {
    content: "SET!";
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    top: calc(100% - 50px);
    left: -100%;
    width: 300%;
    height: 50px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.24);
    animation-name: showset;
    animation-duration: 2s;
}

.grid::before {
    content: "";
    border-radius: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    opacity: 0;
    top: -20px;
    left: 0;
    width: 0;
    height: 6px;
    margin-left: 50%;
    background-color: black;
    animation-duration: 5s;
    animation-timing-function: linear;
    transition: 0.2s ease top, 0.2s ease opacity, 0.2s ease width, 0.2s ease background-color, 0.2s ease margin-left;
}

.grid.grid-timer::before {
    top: 0;
    opacity: 1;
    animation-name: timer;
}

@keyframes showset {
    0% {
        left: 0%;
        opacity: 0;
    }
    50% {
        left: -100%;
        opacity: 1;
    }
    100% {
        left: -200%;
        opacity: 0;
    }
}

@keyframes timer {
    0% {
        width: 100%;
        margin-left: 0%;
        background-color: rgb(0, 212, 46);
    }
    50% {
        background-color: rgb(255, 196, 0);
    }
    100% {
        width: 0%;
        margin-left: 50%;
        background-color: #f00;
    }
}