<div class="grid" [class.grid-lock]="lockScreen" [class.grid-timer]="countDownDisplay">
    <app-card class="card" *ngFor="let card of cardsInPlay; let index = index"
        [@onAppearDisappear]
        [@wiggle]="deniedSet.includes(card)"
        (@wiggle.done)="handleAnimationEnd(card)"
        [definition]="card"
        [class.selected-card]="candidateSet.includes(card)"
        [class.card-answer]="answerSet.includes(card)"
        (click)="handleClickOnCard(card)"
        (animationend)="handleAnimationEnd(card)"
        [style.grid-area]="getAreaByIndex(index)">
    </app-card>
</div>