html, body {
    height: 100%;
    margin: 0;
}

.grid:not(.grid-lock) .card {
    cursor: pointer;
}

.grid:not(.grid-lock) .card:hover:not(.selected-card) {
    transform: scale(105%);
    box-shadow: 1.5px 1.5px 1px 2px rgb(214, 214, 214);
}

.grid.grid-lock .card:not(.selected-card) {
    filter: brightness(0.85);
}

.grid:not(.grid-lock) .card.selected-card {
    filter: brightness(0.85);
    box-shadow: 1.5px 1.5px 1px 2px rgb(214, 214, 214);
    transform: scale(105%);
    cursor: inherit;
}