<div class="overlay-ui">
    <ng-container [ngSwitch]="gameStateService.getGameState()">
        <app-find-game *ngSwitchCase="'missing-game'"></app-find-game>
        <app-game-finished *ngSwitchCase="'game-over'"></app-game-finished>
    </ng-container>
</div>
