:host {
    z-index: 200;
    position: fixed;
    display: grid;
    grid-template-columns: min(450px ,calc(100% - 10px));
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: content-box radial-gradient(#aaa, #555);
}

.overlay-ui {
    background-color: #ddd;
    border-radius: 8px;
    padding: 10px;
    max-height: calc(100% - 40px);
    overflow: auto;
}
