h1, h3 {
    font-family: roboto, Arial, sans-serif;
    padding: 10px;
    margin: 0;
}

h1 {
    text-align: center;
    border-bottom: 4px solid #888;
}

div {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

p.warning {
    color: rgb(255, 0, 0);
    font-family: sans-serif;
    font-size: 14px;
    margin: 5px 10px;
}

div button {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    margin: 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #444;
    font-family: roboto, Arial, sans-serif;
}

div button:hover {
    background-color: #eee;
    color: #222;
}

div button:not(:first-child) {
    border-left: 2px solid #ddd;
}

.list {
    background-color: #fff;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
}

.list.custom-list {
    background-image: linear-gradient(to right, #ccc 49px, #fff 40px);
    font-weight: normal;
}

.list li::before {
    font-weight: bold;
    display: inline-block;
    content: attr(data-content) '';
    width: 20px;
    margin: 0 28px 0 10px;
    transition: 0.1s ease margin-right;
}

.list:not(.custom-list) li::before {
    content: '';
    max-height: 0;
    max-width: 0;
    padding: 5px;
    transform: rotate(45deg);
    border: solid #000;
    border-width: 2px 2px 0 0;
    margin: 0 12px 0 10px;
}

.list li {
    padding: 10px 0;
    font-weight: bold;
    font-family: lato, roboto, sans-serif;
    cursor: pointer;
    background: inherit;
    overflow: hidden;
    white-space: nowrap;
}

.list li:hover, .list li.selected {
    filter: brightness(0.92);
}

.list:not(.custom-list) li:hover::before {
    margin-right: 16px;
}

.form {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    min-width: 0;
}

.form input ~ button {
    width: 40px;
    background-color: #0fd954;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.form.ng-invalid input ~ button {
    background-color: #eaeaea;
    cursor: inherit;
}

.form:not(.ng-invalid) input ~ button:hover {
    background-color: rgb(0, 192, 70);
}

.form input ~ button::before {
    display: inline-block;
    content: '';
    max-height: 0;
    max-width: 0;
    padding: 4px;
    margin: 0;
    margin-right: 5px;
    border: solid #222;
    border-width: 4px 4px 0 0;
    transform: rotate(45deg);
    transition: 0.1s ease margin-right;
}